.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 最前面に表示 */
}

.modal {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 90%; 
    max-width: 450px; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
    color: black;
    text-align: center;
}

.inputGroup {
    margin-bottom: 16px;
}

.inputGroupLast {
    margin-bottom: 24px;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #374151;
    margin-bottom: 8px;
}

.input {
    width: 100%;
    border: 2px solid #d1d5db;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
    box-sizing: border-box; 
}

.input:focus {
    border-color: #eab308;
}

.buttonGroup {
    display: flex;
    gap: 16px;
}