.wrap {
  display: flex;
  justify-content: center;
}

.btn {
  width: 300px;
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  background: #ff3b30;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}