.wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0 12px;
}

.select {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background-color: #f5f5f5;
  color: #6D6D6D;
}