.ticket {
  background: #FFF1C9;
  padding: 12px;
  width: 100%;
  max-width: 360px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 12px;
}

.ticketTop {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}

.ticketBottom {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  flex-direction: column; 
  font-size: 12px;
  color: #666;
}

.ticketBody {
  margin: 12px 0 12px 18px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.serialText {
  letter-spacing: 3px;
}

.shopText {
    align-self: center;
}
