.ticket {
  background: #FFF1C9;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.ticketTop {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
}

.ticketBottom {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  flex-direction: column; 
  font-size: 13px;
  color: #666;
}

.ticketBody {
  margin: 16px 0 16px 30px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
}

.serialText {
  letter-spacing: 3px;
}

.shopText {
    align-self: center;
}