.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.refund {
  margin-top: 14px;
  width: 44px;
}

.coin {
  margin-top: 14px;
  width: 28px;
}

.bill {
  margin-top: 14px;
  width: 54px;
}

.ticketIcon {
  width: 100px;
}
