.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.refund {
  margin-top: 22px;
  width: 52px;
}

.coin {
  margin-top: 22px;
  width: 34px;
}

.bill {
  margin-top: 22px;
  width: 62px;
}

.ticketIcon {
  width: 118px;
}
