.card {
    background-color: white;
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 10px;
    min-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.value {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    margin-top: 6px;
    letter-spacing: 0.05em;
}
