.button {
  width: 100%;
  padding: 12px 0;
  margin: 8px 0;
  background: #ef9046;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
}

.icon {
  width: 22px;
  height: 22px;
}
