.page {
  min-height: 100svh;
  background: #F5C255;
  padding-bottom: calc(64px + env(safe-area-inset-bottom));
}

.content {
  padding: 8px;
  max-width: 360px;
  margin: 0 auto;
}

.issueArea {
  margin-top: 10px;
}
