.page {
  min-height: 100vh;
  background: #e6e6e6;
  padding-bottom: calc(100px + env(safe-area-inset-bottom));
}

.content {
  padding: 16px;
  max-width: 420px;
  margin: 0 auto;
}

.issueArea {
  margin-top: 22px;
}